<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%= @user.name %>!</h1>
    <p>
      Please click the following url so that you can access your
      Student GitHub Pack! 

      <%= link_to "GitHub Student", @user.github_student_url %>

    </p>
    
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>

