<h1>Welcome to Moms Can & Co, <%= @user.first_name %></h1>

<p>
  You have successfully registered with Moms Can & Co!
</p>

<p>
  We are excited you have enrolled in our course. If you have any questions please contact your instructor or hello@momscan.co. 
</p>

<%= link_to "GitHub Student", @user.github_student_url %>
