  <header class="relative z-20 w-full flex justify-between items-center h-20">
    
    <%= link_to 'Moms Can & Co', root_path, class: "text-3xl text-black ml-2 leading-tight" %>
    
		<% if user_signed_in? %>
    <div class="flex text-sm lowercase italic">
      <a href="https://network.momscan.co/" class="ml-4">MCC Network</a>
      <a href="#" class="ml-4">Calendar</a>
      <a href="#" class="ml-4">Blog</a>
      <a href="#" class="ml-4">Resources</a>
			<%= link_to 'logout', logout_path %>
    </div>
      <% else %>
      <div class="h-full flex items-center text-black justify-between uppercase tracking-wide font-bold text-sm">
        <%= link_to "Login", login_path, class: "text-black font-bold hover:text-yellow-500 py-2 px-4" %>
      </div>  
      <% end %>
		</header>
