<div class="py-20" style="background: linear-gradient(90deg, #434343 0%, #000 100%)">
    <div class="container z-10 mr-auto px-6">
      <h2 class="text-4xl font-bold mb-2 text-white">
        Moms Can & Co
      </h2>
      <h3 class="text-2xl mb-8 text-white">
      Online resources & training programs to optimize moms for remote careers in tech
      </h3>
      <button class="bg-yellow-500 hover:bg-gray-300 font-bold rounded-full py-4 px-8 shadow-lg uppercase tracking-wider">
        <%= link_to 'Sign Up', signup_path %> 
      </button>
    </div>
</div>
<section class="container mx-auto px-6 p-10">
  <h2 class="text-4xl font-bold text-center text-gray-800 mb-8">
    Features
  </h2>
  <div class="flex items-center flex-wrap mb-20">
    <div class="w-full md:w-1/2">
      <h4 class="text-3xl text-gray-800 font-bold mb-3">
        Upcoming Webinars
      </h4>
      <p class="text-gray-600 mb-8">
        Join us LIVE! Registration for these webinars and workshops is FREE. If you can't join at the time listed you have 24 hours to replay it at a time that works for you.
      </p>
      <button class="bg-yellow-500 hover:bg-gray-300 font-bold rounded-full py-4 px-8 shadow-lg uppercase tracking-wider">
        <a href="https://www.crowdcast.io/momscanco" target="_blank">Follow us on Crowdcast</a>
      </button>
    </div>
    <div class="w-full md:w-1/2">
      <%= image_tag 'melinda.jpg' %>
    </div>
  </div>

  <div class="flex items-center flex-wrap mb-20">
    <div class="w-full md:w-1/2">
      <%= image_tag 'john.jpg' %>
    </div>
    <div class="w-full md:w-1/2 pl-10">
      <h4 class="text-3xl text-gray-800 font-bold mb-3">Moms Can & Co Network</h4>
      <p class="text-gray-600 mb-8">Membership to the Moms Can & Co Network opens a couple times of year.</p>
      <p class="text-gray-600 mb-8">Stay tuned for the opportunity to join in 2020!</p>
      <button class="bg-gray-800 hover:bg-gray-300 text-white hover:text-black font-bold rounded-full py-4 px-8 shadow-lg uppercase tracking-wider">
        <a href="https://network.momscan.co/" target="_blank">Members Log in Here</a>
      </button>
    </div>
  </div>

  <div class="flex items-center flex-wrap mb-20">
    <div class="w-full md:w-1/2">
      <h4 class="text-3xl text-gray-800 font-bold mb-3">Available Programs</h4>
      <p class="text-gray-600 mb-8">Check out our growing list of available programs.</p>
      <button class="bg-gray-800 hover:bg-gray-300 text-white hover:text-black font-bold rounded-full py-4 px-8 shadow-lg uppercase tracking-wider">
        <a href="www.momscan.co" target="_blank">Moms Can & Co</a>
      </button>
    </div>
    <div class="w-full md:w-1/2">
      <%= image_tag 'danae.jpg' %>
    </div> 
  </div>
</section>
